<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>cash</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <display-name>CheckAuthFilter</display-name>
    <filter-name>CheckAuthFilter</filter-name>
    <filter-class>com.gravitygroups.filter.CheckAuthFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CheckAuthFilter</filter-name>
    <url-pattern>*.do</url-pattern>
    <url-pattern>/index.jsp</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>EncodeSettingFilter</display-name>
    <filter-name>EncodeSettingFilter</filter-name>
    <filter-class>com.gravitygroups.filter.EncodeSettingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodeSettingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.gravitygroups.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.gravitygroups.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoadConfigServlet</display-name>
    <servlet-name>LoadConfigServlet</servlet-name>
    <servlet-class>com.gravitygroups.servlet.LoadConfigServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadConfigServlet</servlet-name>
    <url-pattern>/load.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RecordSerlvet</display-name>
    <servlet-name>RecordSerlvet</servlet-name>
    <servlet-class>com.gravitygroups.servlet.RecordSerlvet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecordSerlvet</servlet-name>
    <url-pattern>/record.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CalculateBalanceServlet</display-name>
    <servlet-name>CalculateBalanceServlet</servlet-name>
    <servlet-class>com.gravitygroups.servlet.CalculateBalanceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CalculateBalanceServlet</servlet-name>
    <url-pattern>/calculate.balance.do</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>LoadConfigFilter</display-name>
    <filter-name>LoadConfigFilter</filter-name>
    <filter-class>com.gravitygroups.filter.LoadConfigFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoadConfigFilter</filter-name>
    <url-pattern>/index.jsp</url-pattern>
    <url-pattern>*.do</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>GetCagtegoryLimitServlet</display-name>
    <servlet-name>GetCagtegoryLimitServlet</servlet-name>
    <servlet-class>com.gravitygroups.servlet.GetCagtegoryLimitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetCagtegoryLimitServlet</servlet-name>
    <url-pattern>/get.categorylimit.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCategoryLimitServlet</display-name>
    <servlet-name>UpdateCategoryLimitServlet</servlet-name>
    <servlet-class>com.gravitygroups.servlet.UpdateCategoryLimitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCategoryLimitServlet</servlet-name>
    <url-pattern>/update.categorylimit.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CategoryDetailQueryServlet</display-name>
    <servlet-name>CategoryDetailQueryServlet</servlet-name> 
    <servlet-class>com.gravitygroups.servlet.CategoryDetailQueryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryDetailQueryServlet</servlet-name>
    <url-pattern>/categoryDetailQuery.do</url-pattern>
  </servlet-mapping>
</web-app>